#cesiumContainer{width: 1400px;
  height:800px;
   display: inline-block;}





.left{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.divs{
  margin-top: 10px;
}
