#cesiumContainer{
  width: 70%;
  /* height:800px; */
   display: inline-block;
  }


body{
  background-color: #333;
  color: #fff;
}


.left{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.divs{
  margin-top: 10px;
}
.bg-image{
  background-image: url(../assets/orbitview.jpg);
}
.dark-bg{
  background-color: #333;
  width: 100%;
}
/* .f-left{
  float: left
}
.f-right{
  float: right
} */