@font-face {
  font-family: Anurati;
  src: url("../fonts/Anurati-Regular.otf") format("opentype");
}
@font-face {
  font-family: Ikaros;
  src: url("../fonts/Ikaros-Regular.otf") format("opentype");
}

#cesiumContainer{
  width: 70%;
  /* height:800px; */
   display: inline-block;
  }


body{
  background-color: #333;
  color: #fff;
  font-family: Ikaros;
}

.masthead-brand.f-left{
  margin: 3px;
  font-size: 3rem;
}

.nav-link{
  display: inline-block;
  color: white;
    font-size: 1.2rem;
}

.f-right{
  padding: 10px;
}

.left{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.divs{
  margin-top: 10px;
}
.bg-image{
  background-image: url(../assets/orbitview.jpg);
}
.dark-bg{
  background-color: #333;
  width: 100%;
  opacity: 0.7;
}

.title{
  font-family: Anurati;
  font-size: 4rem;
}

.title-text{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* .mastfoot{ */
  /* position: fixed; */
  /* bottom: 0;
  width: 100%;
  position: relative;
  min-height: 100vh; */

/* } */

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.3rem;
  background-color: #333;
  opacity: 0.7;
}

.fab.fa-github.fa-3x{
      margin-top: 10px;
}

.inner{
  vertical-align: bottom;
}
/* .f-left{
  float: left
}
.f-right{
  float: right
} */
