{% load static %}

<!DOCTYPE html>

<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Marvel:400,700|Gafata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{%static '/css/error.css' %}">
</head>

<body>

  <h1>404</h1>

  <div class="hal-9000">
    <div class="shine-1"></div>
    <div class="shine-2"></div>
    <div class="shine-3"></div>
    <div class="hal-rim3">
      <div class="hal-rim2">
        <div class="hal-rim1">
          <div class="hal-17 animate">
            <div class="hal-16 animate">
              <div class="hal-15 animate">
                <div class="hal-14 animate">
                  <div class="hal-13 animate">
                    <div class="hal-12 animate">
                      <div class="hal-11 animate">
                        <div class="hal-10 animate">
                          <div class="hal-9 animate">
                            <div class="hal-8 animate">
                              <div class="hal-7 animate">
                                <div class="hal-6 animate">
                                  <div class="hal-5 animate">
                                    <div class="hal-4 animate">
                                      <div class="hal-3 animate">
                                        <div class="hal-2 animate">
                                          <div class="hal-1 animate"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>I'm Sorry Dave <br> I'm afraid I can't do that</h3>

  <h2>by <a href="https://twitter.com/william_GDN" target='_blank'>@william_GDN</a></h2>

</body>

</html>