{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{%static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="{%static '/css/styles.css' %}">
      <link rel="stylesheet" href="{%static '/css/about.css' %}">
    <script src="https://kit.fontawesome.com/f34ca161df.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
      <header class="masthead mb-auto light-bg ">
        <div class="inner">
  
          <nav class="nav nav-masthead justify-content-between">
            <h3 class="masthead-brand f-left">About us</h3>
            <div class="f-right">
              <a class="nav-link active" href="/hal">Hal</a>
              <a class="nav-link" href="/">Home</a>
            </div>
  
          </nav>
        </div>
      </header>
  
      <main class="inner cover">
       </main></main>
    </div>
  </body>
</html>
