{% load static %}

<!DOCTYPE html>

<html=lang='en'>

  <head>
    <!-- <script src="{%static '/js/require.js' %}"></script>
    <script src="{%static '/js/satellite.js/dist/satellite.min.js' %}"></script>
    <script src="{%static '/js/satellite-anton.js'%}"></script>
    <script >

      window.onload = function () {
        var satelliteCall = satrec.positionAndVelocity;

        document.getElementById('satellite').innerHTML = satrec.satelliteCall;
      };

    </script> -->
    <script src="https://d3js.org/d3.v5.js"></script>
  </head>

  <body>
    
    <p id='satellite'></p>

  </body>

  </html>
