{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta charset="utf-8">
	<script src="https://cesium.com/downloads/cesiumjs/releases/1.69/Build/Cesium/Cesium.js"></script>
	<link href="https://cesium.com/downloads/cesiumjs/releases/1.69/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
</head>

<body>
  <h1>Satellite Viewer</h1>
	<div id="cesiumContainer" style="width: 700px; height:400px"></div>
	<script>
		var viewer = new Cesium.Viewer('cesiumContainer');
		var dataSrc = Cesium.CzmlDataSource.load("./static/js/simple.czml");
		viewer.dataSources.add(dataSrc);
	</script>
</body>

</html>
