{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <h1>Satellite Viewer</h1>
  <div class="text">
<p>this shows satellites, kessler syndrome</p>
<button type="button" name="button" class="hal btn btn-light"><a href="/hal">  Go to hal</a></button>
<button type="button" name="button" class="about btn btn-light"><a href="/about">About this thing</a></button>
  </div>
</body>

</html>
